# 1. 변수

In [2]:
name = "홍길동"  
age = "20"  
item_count = "15"

In [4]:
print(name)

홍길동

In [5]:
print(name, age, item_count)

홍길동 20 15

In [1]:
city = "seoul"  
City = "busan"  
print(city, City)

seoul busan

city

# 3. 자료형

## 1) 숫자형

### (1) 표현

In [7]:
# 정수 
x = 5
y = -1
z = 0
money = 1_000_000  

print(x, y, z, money)

5 -1 0 1000000

In [9]:
# 실수  
a = 3.141
b = -2.5
c = 0.00000000000000001

print(a, b, c)

3.141 -2.5 1e-17

In [11]:
x = 1e+10
y = 3e-5

print(x,y)

10000000000.0 3e-05

In [12]:
print(type(x))

<class 'float'>

In [13]:
z =1.0

print((type(z)))

<class 'float'>

### (2) 산술/복합 연산

In [15]:
num1 = 10
num2 = 3

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 // num2)
print(num1 % num2)
print(num1 ** num2)

13
7
30
3.3333333333333335
3
1
1000

In [17]:
num1 = 12
num2 = 3
num3 = num1 / num2

print(num3)
print(type((num3)))

4.0
<class 'float'>

In [19]:
money = 50000
print("내 잔고", money)

money += 20000
print("내 잔고:", money)

내 잔고 50000
내 잔고: 70000

### (3) 예제

반복할 횟수 구하기: 100개의 게시물을 한 페이지에 30개씩 보여주려면 총 몇 페이지가 필요할까요?

In [ ]:
# 100 나누기 30 = 몫 3 나머지 10
# 나머지 10도 페이지로 표현할 수 있다.
# 나머지가 있는 경우에는 몫에 1을 더해야 한다.

posts = 100

출생년도가 1982일 때 홀수, 짝수 판단하기

In [22]:
# 코드로 짝수/홀수 판단하는 방법 : 나머지가 1이면 홀수, 0이면 짝수
# 나머지 연산자 : %

birth = 1982

result = birth % 2
print(result)

0

## 2) ⭐ 문자열

### (1) 표현

In [23]:
message = "안녕하세요"
print(message)
print(type(message))

안녕하세요
<class 'str'>

In [26]:
message = '\"철수가 말했습니다.\"'
print(message)

"철수가 말했습니다."

In [28]:
review = """사과 맛있다
바나나 맛있다
과자 먹고싶다"""

print(review)

사과 맛있다
바나나 맛있다
과자 먹고싶다

### (2) 연산

In [29]:
# +(결함)
text1 = "안녕"
text2 = "반가워"

print(text1 + text2)

안녕반가워

In [30]:
# *(반복)
text3 = "헬로"

print(text3 * 5)

헬로헬로헬로헬로헬로

### (3) 인덱싱/슬라이싱

In [31]:
regist_num = "901212-1325221"

print(regist_num[7])
print(regist_num[-7])

1
1

#### 슬라이싱

In [33]:
regist_num = "901212-1325221"

print(regist_num[2:6])
print(regist_num[-12:-8])

1212
1212

문제. 주민등번호 뒷자리에서 성별을 제외하고 *로 표시해주세요.

In [69]:
# 

regist_num = "901212-1325221"

print(regist_num[:8], + *6)

SyntaxError: invalid syntax (1013705045.py, line 5)

### (4) 문자열 포매팅(f-string)

In [49]:
name = "홍길동아"

message = f"{name}님 안녕하세요."
print(message)

홍길동아님 안녕하세요.

In [70]:
name = "홍길동"
massage = "홍길동님 안녕하세요."
message = f"{name}님 안녕하세요."

print(massage)

홍길동님 안녕하세요.

In [71]:
name = "홍길동"
massage = "홍길동님 안녕하세요."
massage = f"{name}님 안녕하세요."

print(massage)

홍길동님 안녕하세요.

### (5) 관련 메서드

#### ⭐ 문자열 나누기(split)

In [36]:
address1 = "서울시 관악구 신림동" 
address2 = "강남구/동작구/노원구"

print(address1.split(" "))
print(address2.split("/"))

['서울시', '관악구', '신림동']
['강남구', '동작구', '노원구']

In [40]:
address1 = "서울시 관악구 신림동" 
address2 = "강남구/동작구/노원구"

print(address1.split(" "))
print(address2.split("/"))

['서울시', '관악구', '신림동']
['강남구', '동작구', '노원구']

In [43]:
address1 = "서울시 관악구 신림동" 
address2 = "강남구/동작구/노원구"

print(address1.split(" "))
print(address2.split("/"))

['서울시', '관악구', '신림동']
['강남구', '동작구', '노원구']

In [44]:
address1 = "서울시 관악구 신림동" 
address2 = "강남구/동작구/노원구"

print(address1.split(" "))
print(address2.split("/"))

['서울시', '관악구', '신림동']
['강남구', '동작구', '노원구']

예제. 파일 확장자 찾기

In [50]:
file_name1 = "data.txt"
file_name2 = "test.ipynb"
file_name3 = "time_stamp.json"

print(file_name1.split("."))

['data', 'txt']

In [75]:
file_name1 = "data.txt"
file_name2 = "test.ipynb"
file_name3 = "time_stamp.json"

print(file_name1.split("."))

['data', 'txt']

In [85]:
file_name1 = "data.txt"
file_name2 = "test.ipynb"
file_name3 = "time_stamp.json"

print(file_name2.split("."))

['test', 'ipynb']

#### 문자열 대체(replace)

In [52]:
email = "noname@gmail.com"

print(email.replace("gmail", "naver"))

noname@naver.com

In [76]:
email = "noname@gmail.com"

print(email.replace("gmail", "naver"))

noname@naver.com

#### 대/소문자 변환(lower, upper)

In [54]:
gender = "ffmfmMmffFFMfmff"
print(gender.lower())
print(gender.upper())

ffmfmmmffffmfmff
FFMFMMMFFFFMFMFF

In [77]:
gender = "ffmfmMmffFFMfmff"

print(gender.upper())

FFMFMMMFFFFMFMFF

#### 공백 제거(lstrip/rstrip/strip)

In [59]:
name = "    홍길동      "

print(f"|{name}|")
print(f"|{name.strip()}|")
print(f"|{name.lstrip()}|")
print(f"|{name.rstrip()}|")

|    홍길동      |
|홍길동|
|홍길동      |
|    홍길동|

#### 카운트 세기(count)

In [62]:
gender1 = "ffmfmMmffFFMfmff"
gender2 = gender1.lower()

print(gender2.count("m"))

6

In [78]:
gender1 = "ffmfmMmffFFMfmff"
gender2 = gender1.upper()

print(gender2.count("F"))

10

예제. 리뷰

짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿

In [84]:
review = " 짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿 "

print(review.count("짬뽕"))

SyntaxError: unterminated string literal (detected at line 1) (167339162.py, line 1)

## 3) 리스트(List)

### (1) 표현

In [1]:
mylist = []
print(mylist)
print(type(mylist))

[]
<class 'list'>

In [2]:
jan = 20000
feb = 5000
mar = 30000

money = jan + feb + mar
print(money)

55000

In [4]:
money2025 = [2000, 400000, 5000]
print(sum((money2025)))

407000

In [5]:
# 리스트 만들기
mylist = [1,2,3, "가", ["a", "b", "c", "d"], (1,2)]
print(mylist)

[1, 2, 3, '가', ['a', 'b', 'c', 'd'], (1, 2)]

### (2) 인덱싱/슬라이싱

#### 인덱싱

In [ ]:
#[박영희]

#### 슬라이싱

In [32]:
orders = ["pasta", "pizza", "coke", "bread"]
# 거꾸로
print(orders[::-1])

['bread', 'coke', 'pizza', 'pasta']

예제.

```
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
```

* "cat" 출력

In [7]:
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
print(data[3][1])

cat

예제.

```
data = [25, 'apple', 3.13, ['dog', 'cat', 'rabbit']]
```

* ['dog', 'cat'] 출력

In [8]:
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
print((data[3][0]),data[3][1])

dog cat

In [9]:
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
print(data[3][:2])

['dog', 'cat']

### (2) 연산

#### 덧셈(결합)

In [10]:
data = [1,2,3]
data2 = ["a", "b"]

result = data + data2
print(result)

[1, 2, 3, 'a', 'b']

In [14]:
jan_money = [10, 0, 3, 2]
feb_money = [2, 50, 23, 30]

money = jan_money + feb_money
print(money)

[10, 0, 3, 2, 2, 50, 23, 30]

#### 곱셈

### (3) range

`range(n)`
range(n) : 0부터 n-1까지의 범위를 만들어 줍니다.
range(start, end)  : start부터 end-1 까지의 범위를 만들어 줍니다.
range((start, end, step))  : start부터 end-1까지의 step간격으로 범위를 만들어 줍니다.

In [28]:
# 3부터 9까지의 범위를 리스트로 출력하고 싶어요
num_list = list(range(3, 10))
print(num_list)
# 0에서 10까지 홀수만 출력하고 싶어요.
num_list = list(range(1, 11,2))
print(num_list)
# 0에서 5까지의 범위를 거꾸로 출력하고 싶어요.
num_list = list(range(5, -1, -1))
print(num_list)

[3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[5, 4, 3, 2, 1, 0]

In [101]:
# 3부터 9까지의 범위를 리스트로 출력하고 싶어요
num_list = list(range(3, 10))
print(num_list)
# 0에서 10까지 홀수만 출력하고 싶어요.

# 0에서 5까지의 범위를 거꾸로 출력하고 싶어요.

SyntaxError: invalid syntax (2253911699.py, line 5)

In [30]:
num_list = list(range(5, -1, -1))
print(num_list)

[5, 4, 3, 2, 1, 0]

In [21]:
num_list = range(3, 9)
print(num_list)
print(list(num_list))

range(3, 9)
[3, 4, 5, 6, 7, 8]

In [16]:
# 연속된 숫자를 리스트로 만들고 싶어요.
num_list =range(4)

print(num_list)
print(type(num_list))

range(0, 4)
<class 'range'>

In [20]:
num_list = list(range(4))
print(num_list)

[0, 1, 2, 3]

### (4) 수정/추가/삭제

#### 수정

In [50]:
# 0에서 7까지의 범위를 리스트로 출력
num_list = list(range(8))
print(num_list)

# 1번째 값을 "일"로 바꾸기
print(num_list[1])
num_list[1] = "일"
print(num_list)

# 5번째 값을 "오"로 바꾸기
print(num_list[1])
num_list[5] = "오"
print(num_list)

# 2번째에서 3번째까지의 데이터를 영어로 바꾸기
print(num_list[2:4])
num_list[2:4] = ["two", "three"]
print(num_list)

# 3번째에서 끌까지 데이터를 "하하하"로 바꾸기
print(num_list[3:])
num_list[3:] = "하하하"
print(num_list)

# 처음부터 3번째까지의 데이터를 10으로 바꾸기

[0, 1, 2, 3, 4, 5, 6, 7]
1
[0, '일', 2, 3, 4, 5, 6, 7]
일
[0, '일', 2, 3, 4, '오', 6, 7]
[2, 3]
[0, '일', 'two', 'three', 4, '오', 6, 7]
['three', 4, '오', 6, 7]
[0, '일', 'two', '하', '하', '하']

In [46]:
# 5번째 값을 "오"로 바꾸기
num_list = list(range(6))
print(num_list)
print(num_list[4])
num_list[4] = "오"
print(num_list)

[0, 1, 2, 3, 4, 5]
4
[0, 1, 2, 3, '오', 5]

In [47]:
# 2번째에서 3번째까지의 데이터를 영어로 바꾸기
num_list = list(range(4))
print(num_list)

[0, 1, 2, 3]

슬라이싱한 자료를 대체하기 위해서는 여러 개의 자료가 담긴 리스트여야 한다.(한개의 자료이면 안된다)
문자열(ex. "안녕하세요") 자동으로 글자 하나하나를 요소로 인식해준다.

#### 추가

In [55]:
data = list(range(5))
print(data)

# 데이터 한 개 추가(5를 추가)
data = data + [5]
print(data)


# 데이터 한 개 추가([1, 2, 3])를 추가
data = data + [1, 2, 3]
print(data)

# 데이터 한 개 추가([1, 2, 3, 4, 5])를 추가
data.append([1, 2, 3, 4, 5])
print(data)

data.extend([1, 2, 3, 4, 5])
print(data)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 1, 2, 3]
[0, 1, 2, 3, 4, 5, 1, 2, 3, [1, 2, 3, 4, 5]]
[0, 1, 2, 3, 4, 5, 1, 2, 3, [1, 2, 3, 4, 5], 1, 2, 3, 4, 5]

In [57]:
# 삽입 .insert(위치, 값) : 위치에 값을 삽입해 주세요.
num_list = [10, 20, 30]
print(num_list)
num_list.insert(2, 40)
print(num_list)

[10, 20, 30]
[10, 20, 40, 30]

In [1]:
# * append / extend 차이 알기
# 인스타그램 태그 수집기 
# post1 : #헬스, #단백질
# post2 : #닭가슴살, #다이어트, #단백질
# post3 : #요요, #헬스, #다이어트
# post4 : #닭가슴살, #단백질

# 문제 1. 인스타그램 포스트별로 데이터를 수집하고 싶다
# 문제 2. 모든 해시태그들을 tags라는 변수에 담고 싶다
# 문제 3. 해시태그 카테고리가 몇 개인지 알고 싶다

post1 = ["#헬스", "#단백질"]
post2 = ["#닭가슴살", "#다이어트", "#단백질"]
post3 = ["#요요", "#헬스", "#다이어트"]
post4 = ["#닭가슴살", "#단백질"]

# 문제 1. 인스타그램 포스트별로 데이터를 수집하고 싶다
posts = [post1, post2, post3, post4]
tags = []
for post in posts:
    tags.append(post)

print(tags)

[['#헬스', '#단백질'], ['#닭가슴살', '#다이어트', '#단백질'], ['#요요', '#헬스', '#다이어트'], ['#닭가슴살', '#단백질']]

In [2]:
# 문제 2. 모든 해시태그들을 tags라는 변수에 담고 싶다
tags = []
for post in posts:
    tags.extend(post)

print(tags)

['#헬스', '#단백질', '#닭가슴살', '#다이어트', '#단백질', '#요요', '#헬스', '#다이어트', '#닭가슴살', '#단백질']

In [3]:
# 문제 3. 해시태그 카테고리가 몇 개인지 알고 싶다
result = set(tags)
print(result)

{'#닭가슴살', '#헬스', '#요요', '#단백질', '#다이어트'}

#### 삭제

In [70]:
num_list = list(range(0, 100, 10))
print(num_list)

# 3번째 데이터를 삭제해 주세요.(del 이용)
del num_list[3]
print(num_list)

# 7번째 데이터를 삭제해 주세요.(remove 이용)
num_list.remove(70)
print(num_list)

# 뒤에서 3번째부터 끝까지 데이터를 삭제해 주세요.
print(num_list[-3:])
num_list[-3:] = []
print(num_list)

# 맨 뒤에 있는 데이터를 삭제하고 그 값을 출력해 주세요.(pop이용)
pop_value = num_list.pop()
print(pop_value)
print(num_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[0, 10, 20, 40, 50, 60, 70, 80, 90]
[0, 10, 20, 40, 50, 60, 80, 90]
[60, 80, 90]
[0, 10, 20, 40, 50]
50
[0, 10, 20, 40]

예제. 게시물 코드

```
post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]
```

In [78]:
# ID003 데이터 오류가 생겼다.
# 오류가 생긴 데이터는 삭제하고 erro_data에 담아주세요

# 예제. 게시물 코드

post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]
pop_data = post_data.pop(2)
print(pop_data)
print(post_data)

error_data = []
error_data.append(pop_data)
print((error_data))

ID003
['ID001', 'ID002', 'ID004', 'ID005']
['ID003']

## 4) 튜플(Tuple)

In [79]:
# 빈 튜플 만들기
data = ()
print(data)

()

In [80]:
# 요소가 1개인 튜플 만들기(데이터 10)
data = (10)
print(data)
print(type(data))

data = (10,)
print(data)
print(type(data))

10
<class 'int'>
(10,)
<class 'tuple'>

In [81]:
fruits = ("사과", "오렌지", "포도")
fruits[1] = "멜론"
print(fruits)

# 튜플은 수정 및 삭제가 불가하므로 타입 에러 뜨는게 맞음

TypeError: 'tuple' object does not support item assignment

### (1) 표현

## 5) 딕셔너리(Dictionary)

### (1) 표현

In [82]:
mydict = {}
print(mydict)
print(type(mydict))

{}
<class 'dict'>

In [83]:
data = [["홍길동", 68], ["최수연", 40], ["김철수", 90]]
print(data)

[['홍길동', 68], ['최수연', 40], ['김철수', 90]]

In [7]:
score_data1 = {
       "이름" : ["홍길동", "최수연", "김철수"]
       "성적" : [68, 40, 90]        
}
score_data2 = {
      "홍길동" : 68, "최수연" : 40, "김철수" : 90
}
print(score_data1)
print(score_data2)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3209929721.py, line 2)

### (2) 딕셔너리 다루기

예제. 날씨 데이터
* 'city'키 'Busan'으로 수정하기
* 미세먼지(`pm10`)키 추가하기 (값: 34)
* 'forecast' 키에 ['Rainy', 'Rainy'] 추가하기

```
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}
```

In [86]:
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}

In [91]:
print(weather_data["city"])
weather_data["city"] = "busan"
print(weather_data)

Seoul
{'city': 'busan', 'temperature': 22.5, 'humidity': 60, 'forecast': ['Sunny', 'Cloudy', 'Rainy']}

In [97]:
print(weather_data["city"])
weather_data["pm10"] = 34
print(weather_data)

busan
{'city': 'busan', 'temperature': 22.5, 'humidity': 60, 'forecast': ['Sunny', 'Cloudy', 'Rainy'], 'pm10': 34}

In [99]:
weather_data["forecast"].extend(['rainy', 'rainy'])
weather_data

{'city': 'busan',
 'temperature': 22.5,
 'humidity': 60,
 'forecast': ['Sunny', 'Cloudy', 'Rainy', 'rainy', 'rainy'],
 'pm10': 34}

### (3) 관련 메서드

#### 조회

In [103]:
student = {"name": "홍길동", "age": 28, "height": 187.4, "score": 88}

In [106]:
# 모든 키 조회
print(list((student.keys())))
print(type(student.keys()))

# 모든 값 조회
print(list((student.values())))
print(type(student.values()))

['name', 'age', 'height', 'score']
<class 'dict_keys'>
['홍길동', 28, 187.4, 88]
<class 'dict_values'>

In [111]:
# student_list의 학생이 student_dick에 없으면 "참석"을 값으로 딕셔너리의 키를 등록하라.
student_list = ["홍길동", "김예지", "김사랑"]
student_dict = {"홍길동": "참석"}

for student in student_list:
    if student not in student_dict:
        student_dict[student] = "참석"

print(student_dict)

{'홍길동': '참석', '김예지': '참석', '김사랑': '참석'}

#### 삭제

In [112]:
student_dick = {'홍길동': '참석', '김예지': '참석', '김사랑': '참석'}
student_dick.clear()
print(student_dick)

{}

## 6) 집합

### (1) 표현

In [113]:
set_list = []
myset = set(set_list)

print(myset)
print(type(myset))

set()
<class 'set'>

In [114]:
# 중복 제거
set_list = [1, 1, 4, 5, 5, 5, 5, 5, 5, 5, 3]
myset = set(set_list)

print(myset)
print(type(myset))

{1, 3, 4, 5}
<class 'set'>

예제. 이메일 중복 제거

```
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
```

In [115]:
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
print(set(emails))

{'user3@example.com', 'user1@example.com', 'user2@example.com'}

### (2) 요소 추가/제거

#### 추가

In [117]:
myset = {1, 2, 3, 4, 5}
print(myset)

# 6 추가
myset.add(6)
print(myset)

# 5 추가
myset.add(5)
print(myset)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [118]:
#4, 7, 8 추가하기
myset.update([4, 7, 8])
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8}

#### 제거

In [119]:
myset.remove(5)
print(myset)

{1, 2, 3, 4, 6, 7, 8}

In [120]:
myset.discard(9)
print(myset)

{1, 2, 3, 4, 6, 7, 8}

In [122]:
myset.discard(2)
print(myset)

{1, 3, 4, 6, 7, 8}

### (3) 연산

<img src='https://www.dropbox.com/scl/fi/o9jjkizgbclwemi9wot4h/.png?rlkey=35o0zu24jc99ggiv9ex3pukqf&st=f69cko7q&dl=1' width=30%>

In [123]:
set1 = {"A", "C", "D", "F", "G" }
set2 = {"A", "B", "F", "H"}

# 합집합
set_union = set1 | set2
print(set_union)

{'C', 'D', 'A', 'G', 'H', 'F', 'B'}

## 7) 불