# 제어문

# 1. 조건문

In [7]:
# 미성년자 판단하기(만 19세 미만)
# 나이를 age라는 변수로 만들고
# age가 19세 미만이여 "미성년자 입니다."라고 출력해 주세요.
age = 16

if age < 19:
    print("미성년자 입니다.")

미성년자 입니다.

In [8]:
# 미성년자 판단하기(만 19세 미만)
# 나이를 age라는 변수로 만들고
# age가 19 미만이여 "미성년자 입니다."라고 출력하고, 이상이면 "성인입니다."라고 출력해 주세요.
age = 59

if age < 19:
    print("미성년자 입니다.")
else:
    print("성년입니다.")

성년입니다.

In [13]:
# 등급에 따라 메시지 출력하기
# A-Perfect, B-Excellent, C-Good, 그 외 노력하세요 라고 출력해 주세요.
grade = "C"

if grade == "A":
    print("Perfect")
elif grade == "B":
    print("Excellent")   
elif grade == "C":
    print("Good")
else: 
     print("노력하세요")

Good

## 1) 연산자

문제. 나이가 10세 이상이고, 키가 120cm 이상일 때만 놀이기구 탑승

* 탑승 가능하면 "통과" 아니면 "탑승 불가"라고 출력하기

In [11]:
age = 14
height = 119

if age >= 10 and height >=120:
    print("통과")
else:
    print("탑승불가")

탑승불가

문제. 10만원 이상 구매하거나 "Gold" 등급이면 10% 할인

* 할인이 가능하면 "10% 할인 가능" 아니면 "10% 할인 불가" 출력

In [12]:
price = 80000
level = "Gold"

if price >= 100000 or level == "Gold":
    print("10% 할인")
else:
    print("10% 할인불가")

10% 할인

## 2) 활용

In [1]:
# 지갑 안에 운전면허증(license)이 있다면 통과이고 없으면 벌금이다.
# 만약 벌금을 납부하게 되면 지갑에 카드(credit card)가 있으면 카드 결제이고 아니면 현금 납부이다.
# 벌금을 납부하게 된다면 "벌금 대상자"을 출력하고 아니면 "통과"를 출력한다
# 그리고 벌금을 납부하게 된다면 "카드납부" 아니면 "현금납부"
# 이 사람은 어떻게 해야 하는가?
wallet = ["credit card", "trash"]

if "license" in wallet:
    print("통과")
else:
    print("벌금 대상자")
    if "credit card" in wallet:
        print("카드 납부")
    else:
        print("현금 납부")

벌금 대상자
카드 납부

## 4) 예제

문제 1. 온도가 15도에서 25도 사이인지 확인하는 예시:

In [2]:
temp = 26

if 15 < temp and temp < 25:
    print("온도가 15와 25도 사이에 있습니다.")
else:
     print("온도가 15도와 25도 사이가 아닙니다.")

온도가 15도와 25도 사이가 아닙니다.

문제 2. 학생의 성적에 따른 장학금 여부 결정

* GPA가 4.0 이상이면 100% 장학금을 받습니다.
* GPA가 3.5 이상이면 50% 장학금을 받습니다.
* GPA가 3.0 이상이면 30% 장학금을 받습니다.
* 그 외에는 장학금을 받을 수 없습니다.

문제 3. 특정 단어가 문장에서 없는지 확인

* search_word가 text에 포함되지 않으면 해당 단어가 문장에 없다는 메시지를 출력합니다.

In [ ]:
text = "데이터 분석은 흥미롭고 중요한 분야입니다."
search_world = "AI"

# 조건식 serch_world in text

if search_word in text:
    print("문장에 포함되어 있습니다.")
else:
    print("문장에 포함되어 있지 않습니다")

if search_word not in text:
    print("포함 안됨")
else:
    print("포함됨")

NameError: name 'search_word' is not defined

# 2. 반복문

## 1) While 문

<img src='https://www.dropbox.com/scl/fi/r0815e20gb2hv6a599i00/_-while.png?rlkey=dexzbwy3xu4phnzvo65cb6hbq&st=ykavuhx3&dl=1' width=30%>

### (1) 표현

In [6]:
count = 0
while count <3:
    print(count)
    count += 1

0
1
2

# 작동 흐름
# count = 0 -> 조건식 count < 3 True -> print(0) -> count = 1
# count = 1 -> 조건식 count < 3 True -> print(1) -> count = 2
# count = 2 -> 조건식 count < 3 True -> print(2) -> count = 3
# count = 3 -> 조건식 count < 3 False

In [8]:
count = 0
while True:
    count += 1
    print(count)

    if count > 3:
        break

1
2
3
4

# 작동흐름
# count = 0부터 1씩 더하면서 무한루프(while True) 출력함 : 그래서 break 필요
# 만약 count가 3보다 커지면 끝내기

### (2) break

### (2) continue

## 2) For 문

<img src='https://www.dropbox.com/scl/fi/eezsh68wobwm87rhh7209/_-for.png?rlkey=w1mhrm40cg413ajdajix0bb9m&st=ptyurj6a&dl=1' width='30%'>

### (1) 표현

### (2) 관련 주요 함수

In [12]:
# range(n): 0부터 n-1까지 1씩 증가하는 연속적인 범위를 생성해줌
# range()를 이용해서 다음 출력이 나오도록 코딩해주세요
# 출력 결과
1
2
3
4
5

# range를 이용해서  [1,2,3,4,5]를 만들기
# 반복문 만들기

num_list = list(range(1, 6))
print(num_list)

for num in num_list:
    print(num)

[1, 2, 3, 4, 5]
1
2
3
4
5

In [16]:
students = ["홍길동", "김철수", "한유리", "정성우"]

for student in students:
    print(student)

홍길동
김철수
한유리
정성우

In [17]:
fruits = ["바나나", "사과", "수박"]

for fruit in fruits:
    print(fruit)

바나나
사과
수박

In [20]:
# 미션
# score_data = {"홍길동": 68, "최수연": 44, "김철수": 90}

# ## 출력 결과
# 홍길동
# 최수연
# 김철수

# ## 출력 결과
# 68
# 44
# 90

# ## 출력 결과
# 홍길동 68점
# 최수연 44점
# 김철수 90점


score_data = {"홍길동": 68, "최수연": 44, "김철수": 90}
for name in score_data.keys()
print(name)

SyntaxError: expected ':' (361301178.py, line 21)

### (3) break/continue

#### break

In [27]:
# 1부터 10까지 숫자를 하나씩 출력 만약 7이 나오면 반복문 중지

for i in range(1, 11):
    if 1 == 7:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10

#### continue

In [ ]:
# 1부터 10까지 숫자 중에서 5만 뺴고 출력하시
for i

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3725553415.py, line 7)

### (4) 활용

## 3) 예제

예제1. 학생 성적 딕셔너리

반복문을 사용해서 "홍길동님의 성적은 85점입니다" 형태로 출력하세요.

```
grades = {
    "John": 85,
    "Emily": 92,
    "Tom": 78,
    "Lucy": 88
}
```

예제2. 센서 온도 데이터

30도 이상인 데이터만 출력하세요

```
temperature_data = [22.5, 35.2, 28.4, 40.1, 25.3]
```

예제 3. 고객 주문 데이터

반복문을 사용해서 총 매출을 계산하세요.

```
orders = [
    {"customer": "Kim", "amount": 120000},
    {"customer": "Lee", "amount": 85000},
    {"customer": "Park", "amount": 99000},
]
```

예제 4. 리뷰 데이터

짜장면이 언급된 데이터만 출력하세요

```
reviews = [
    "맛있어요! 짜장면 최고예요!",
    "배달이 느렸지만 짬뽕은 맛있었어요.",
    "탕수육은 별로였지만 전체적으로 만족!",
    "짜장면이 너무 짰어요.",
]
```

## 4) List Comprehension

In [ ]:
# 15만원 이상인 상품들만 딕셔너리로 만들고 싶어요
wishlist = {"노트북": 1200000, "마우스": 33000, "키보드": 110000, "모니터": 290000}

['노트북', '마우스', '키보드', '모니터']
[1200000, 33000, 110000, 290000]